*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
#content {
position: fixed;
top: 170px;
border-radius: 15px;
right: 300px;
color: red;
width: 50%;
/* height: 50%; */
padding: 20px;
background-color: rgba(81, 81, 193, 0.233);
box-shadow: 0px 0px 25px hsla(240, 100%, 30%, 0.568);

}
#image{
    
    width: 100px;
    margin-left: 170px;
    margin-top: 10px;
}

.content1{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}
.content2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 900;
    >#Dice{
        width: 120px;
        height: 30px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        background-color: white;
        border: none;
        border-radius: 10px;
    }
    
}
#Dice:hover{
    box-shadow: 0px 0px 15px hsla(240, 100%, 30%, 0.568);
}
#content3{
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 7px;
    width: 100px;
}
#content3:hover{
    box-shadow: 0px 0px 15px orangered;
}
#showmodal{
    margin: auto;
    padding: 40px;
    line-height: 35px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 18px;
    background-color:beige;
    color:red;
    border: none;
   
    width: 400px;
    
}
#exit{
    text-align: center;
    line-height: 39px;
    background-color: rgba(0, 0, 0, 0.533);
    width: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    font-weight: 700;
    color: white;
    display: none;
    flex-direction: column;

}
#result3{
    font-size: 17px;
    font-weight: 700;
}
#video{
    width: 300px;
}
.score{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    font-size: 20px;
    font-weight: 700;
}
.btn{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 10px;

}
#button1{
    padding: 8px;
    background-color: green;
    font-size: 15px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#button2{
    padding: 8px;
    background-color: red;
    font-size: 15px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#show1{
    margin-left: 90px;
    margin-top: 20px;
}
.show2{
    font-size: 18px;
    font-weight: 700;
}

@media (max-width:800px) {
    #content {
    position: fixed;
    top: 170px;
    border-radius: 15px;
    right: 50px;
    color: red;
    width: 80%;
    /* height: 50%; */
    padding: 20px;
    background-color: rgba(81, 81, 193, 0.233);
    box-shadow: 0px 0px 25px hsla(240, 100%, 30%, 0.568);
    }
    label{
        font-size: 25px;
    }
    #Dice{
        width: 120px;
        height: 30px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        background-color: white;
        border: none;
        border-radius: 10px;
    }
    #show1{
        margin-left: 30px;
        margin-top: 20px;
    }
    #showmodal{
        margin-left: 120px;
    }
}